:root {
  --colour-dark-grey: #1f2937;
  --colour-white: #f9faf8;
  --colour-light-grey: #e5e7eb;
  --colour-mid-blue: #3882f6;
  --colour-darker-blue: #296ad1;
  --colour-shadow: rgba(31, 41, 55, 0.3);
  --base-font-size: 1em;
  --base-box-shadow: .2em .2em 2em .2em var(--colour-shadow);
  --base-spacing-unit: 1em;
}

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

/* Fonts hosted locally to comply with European privacy regulations (GDPR). Only using one variant, to keep the loading time as short as possible */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.wrapper {
    flex: 1;
}

header {
    background: var(--colour-dark-grey);
    color: var(--colour-white);
    padding: calc(var(--base-spacing-unit) * 2);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
}

.header-wrapper {
    width: 75em;
    display: flex;
    justify-content: space-between;
}

.hero {
    background: var(--colour-dark-grey);
    color: var(--colour-white);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    gap: 5em;
    padding: calc(var(--base-padding) * 3);
}

.hero-wrapper {
    display: flex;
    width: 75em;
    gap: 1em;
}

.hero-wrapper img {
    margin-left: var(--base-spacing-unit);
}

.icons {
    text-align: center;
    padding: calc(var(--base-spacing-unit) * 3);
}

.icons-wrapper {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.icon-wrapper img {
    border: 3px solid var(--colour-mid-blue);
    border-radius: 1em;  
    box-shadow: var(--base-box-shadow);
}


.testimonials {
    background: var(--colour-light-grey);
    padding: calc(var(--base-spacing-unit) * 5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-wrapper {
    width: 70%;
}

cite {
    text-align: right;
    font-style: normal;
    font-weight: 800;
    display: block;
    font-size: calc(var(--base-font-size) * 1.5);
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--base-spacing-unit) * 5);
}

.modal {
    background-color: var(--colour-mid-blue);
    color: var(--colour-white);
    padding: calc(var(--base-spacing-unit) * 2) calc(var(--base-spacing-unit) * 4);
    border-radius: 1em;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--base-box-shadow);
    gap: var(--base-spacing-unit);
    min-width: 75em;
}

.modal button {
    border: 1px solid var(--colour-white);
}

footer {
    background: var(--colour-white);
    background: var(--colour-dark-grey);
    color: var(--colour-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
}

button {
    background-color: var(--colour-mid-blue);
    color: var(--colour-white);
    padding: calc(var(--base-spacing-unit) / 2) var(--base-spacing-unit);
    border-radius: .5em;
    border: none;
    font-size: calc(var(--base-font-size) * 1.1);
    box-shadow: var(--base-box-shadow);
    transition-duration: 0.4s;
    cursor: pointer;
    min-width: 150px;
}

button:hover {
    background-color: var(--colour-darker-blue);
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: calc(var(--base-font-size) * 2.25);
    font-weight: 900;
    color: var(--colour-dark-grey);
}

header p {
    font-weight: bold;
    font-size: calc(var(--base-font-size) * 1.2);
}

.hero-text p, nav {
    font-size: calc(var(--base-font-size) * 1.1);
    color: var(--colour-light-grey);
}

.testimonials blockquote {
    font-size: calc(var(--base-font-size) * 2.25);
    color: var(--colour-dark-grey);
    font-style: italic;
    font-weight: light;
}

.bolder {
    font-weight: bold;
}

.bigger {
    font-size: calc(var(--base-font-size) * 1.5);
}

/* link states */
a {
    text-decoration: none;
    color: var(--colour-light-grey);
    display: inline-block;
    border-bottom: 2px solid transparent;
}

a:hover {
    color: var(--colour-white);
}

a:active {
    border-bottom: 2px solid var(--colour-mid-blue);
}